.task_item_component {
  &.card {
    .content {
      .card_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .card_info {
          flex: 1;
          .command {
            color: rgba(0,0,0,.4);
          }
        }
      }
    }
  }
}
