.header_component {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #1B1C1D;
    i {
        &.icon {
            color: #DCDDDE;
            margin: 0;
            cursor: pointer;
        }
    }
    h1.header {
        color: #DCDDDE;
        margin: 0;
    }
}
